.lobby-page{
    background-color: #1a1a1a;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Organiza: Header -> Main -> Footer */
    align-items: center;
    color: white;
}

.lobby-body{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.vs-divider {
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-style: italic;
}

/* --- NUEVO FOOTER --- */
.lobby-footer {
    background-color: #111;
    border-top: 1px solid #333;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; /* Texto a la izq, Botón a la der */
    align-items: center;
    height: 160px; /* Altura fija para el footer */
    width: 100%;
    box-sizing: border-box;
}

.footer-info {
    color: #666;
}

.status-text {
    color: #ffd700;
    margin-left: 5px;
}

/* Botón de SALIR (Estilo Peligro) */
.exit-btn {
    background-color: transparent;
    border: 2px solid #d32f2f; /* Rojo borde */
    color: #d32f2f;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.exit-btn:hover {
    background-color: #d32f2f;
    color: white;
    box-shadow: 0 0 15px rgba(211, 47, 47, 0.4);
}