header{
    background-color: #333;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0rem 2rem;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-name {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}
