version: '3.8'

services: 
  server:
    build: ./packages/server
    ports: 
      - "3000:3000"
    environment: 
      - PORT=3000
    volumes:
      - ./packages/server:/app
      - /app/node_modules

  client:
    build: ./packages/client
    ports: 
      - "5173:5173"
    volumes:
      - ./packages/client:/app
      - /app/node_modules
    depends_on:
      - server