header{
    background-color: #333;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0rem 2rem;
    box-sizing: border-box;
}